section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout {
    position: relative;
    background-color: #FFFAFF66;
    height: 450px;
    width: 800px;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(10px);
}
.layout h2 {
    color: #474747;
    text-align: center;
}
#language-slides {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 50px;
    gap: 50px;
}
.language {
    padding: 25px;
    background-color: var(--primary-light);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 48.8274px rgba(0, 0, 0, 0.25);
}
.language span {
    color: white;
}
.lang-info {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 20px;
}
.slide-bar {
    position: relative;
    background-color: #C4C4C4;
    flex: 1;
    height: 20px;
    border-radius: 20px;
}
.progress {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    border-radius: 20px;
    background-color: var(--secondary);
    transition-duration: 1s;
}
.controller {
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: var(--secondary);
    right: -5px;
}
.percentage {
    position: absolute;
    right: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    filter: opacity(0);
    transition-duration: .7s;
}

@media only screen and (max-width: 864px) {
    section {
        align-items: flex-start;
        padding-top: 10vw;
    }
    .layout {
        width: 90vw;
        height: 50vw;
    }
    #language-slides {
        padding: 5vw;
        gap: 5vw;
    }
    .language {
        padding: 3vw;
    }
    .language span {
        font-size: 2vw;
    }
    .slide-bar {
        height: 2.5vw;
    }
    .percentage {
        font-size: 2vw;
    }
}